.matchBackground{
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 95%;
}

.permitCard{
    -fx-background-image: url("/ClientPackage/View/GUIResources/Image/PermitCard.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 100%;
}